<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= @title %>
    </title>
    <style>
      body { background: #eee; }
      .quote q {
        font-size:  179%;
        margin:     34px;
        display:    block;
        font-style: italic;
      }

      .quote .meta {
        display: float;
        margin-left: 64px;
      }

      .quote .author::before { content: "\2013\00A0"; }
      .quote .date { font-size: 80%; }
    </style>
  </head>
  <body>
    <div id="main">
      <%= yield %>
    </div>
  </body>
</html>
